In [1]:
import pandas as pd
import sqlalchemy
import pymysql

In [6]:
conn = sqlalchemy.create_engine("mysql+pymysql://root:ma291188@localhost/leetcode")
products=pd.read_sql_table(con=conn,table_name="products")
orders=pd.read_sql_table(con=conn,table_name="orders")

In [7]:
orders

    index  order_id  product_id  quantity
0       0         6          10         6
1       1         4          15         9
2       2        13          19         8
3       3        16           8         1
4       4        15           4         5
..    ...       ...         ...       ...
95     95        13           6         7
96     96         8           2         2
97     97         3           8         8
98     98        11          15         7
99     99        13          14         5

[100 rows x 4 columns]

In [16]:
dict_of_orders={}
for i in range(len(orders)):
    row=orders.iloc[i]
    if row.order_id not in dict_of_orders:
        dict_of_orders[row.order_id]=[]
    dict_of_orders[row.order_id].append(products.loc[row.product_id].price*row.quantity)
maxes={}
m=0
for i in dict_of_orders:
    s=sum(dict_of_orders[i])
    if s>m:
        maxes={i:s}
        m=s
    if s==m:
        maxes[i]=s
out=pd.DataFrame(maxes,index=range(len(maxes)))
out.to_sql(con=conn,name="out_2362",if_exists="replace")
out.to_csv("res.csv")